<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Multi-mode Highscores</title>
</head>
<body>
    <div>
        <u1>
            <h2>Common</h2>
            <p><%= data.commonrecord %></p>
        </u1>
        <u1>
            <h2>Food</h2>
            <p><%= data.foodrecord %></p>
        </u1>
        <u1>
            <h2>School</h2>
            <p><%= data.schoolrecord %></p>
        </u1>
        <u1>
            <h2>Traffic</h2>
            <p><%= data.trafficrecord %></p>
        </u1>
        <u1>
            <h2>Sport</h2>
            <p><%= data.sportrecord %></p>
        </u1>
        <u1>
            <h2>Nature</h2>
            <p><%= data.naturerecord %></p>
        </u1>
        <u1>
            <h2>GRE</h2>
            <p><%= data.grerecord %></p>
        </u1>
        <u1>
            <h2>Computer</h2>
            <p><%= data.computerrecord %></p>
        </u1>
    </div>
</body>
</html>